<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    </head>
<main>
<body>
   <header> <img src="/images/img-home-banner.jpg" alt="banner"  width=50% > </header>
<img src="/images/logo-mercado-liebre.svg" width="35%">
    <nav> 
        <ul>
           <li><a href="#">Ofertas</a> </li>
           <li><a href="#">Tiendas Oficiales</a></li>
           <li><a href="#">Vender Productos</a> </li>
           <li><a href="#">Ayuda </a></li>
        </ul>

        <ul>
           <li><a href="#">Crear Cuenta</a> </li>
           <li><a href="#">Ingresar </a></li>
           <li><a href="#">Mis Compras</a></li>
        </ul>

<section> <h2>Ultima Visita </h2>
           
            <img src="/images/img-cafetera-moulinex.jpg"  width="40%" >
           <p> $6.770 </p>
           <p> 40% OFF </p>
           <p> Cafetera Moulinex </p>

            <img src="/images/img-macbook-pro-2019.jpg" width="40%">
            <p> $230.000 </p>
            <p> 20% off </p>
            <p> MacBook Pro 2019 </p>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="40%">
            <p> $70.500 </p>
            <p>  10% off </p>
            <p> Samsung Galaxy S10 </p>

             <img src="/images/img-tv-samsung-smart.jpg" width="40%">
             <p> $23.200 </p>
             <p> 5% off </p>
             <p>SmartTv Samsung 43" </p>
            
        </section>
<section>
<h2>Seccion de Ofertas</h2>

<img src="/images/img-cafetera-moulinex.jpg"  width="30%" >
<p> $6.770 </p>
<p> 40% OFF </p>
<p> Cafetera Moulinex </p>

 <img src="/images/img-macbook-pro-2019.jpg" width="30%">
 <p> $230.000 </p>
 <p> 20% off </p>
 <p> MacBook Pro 2019 </p>

 <img src="/images/img-samsung-galaxy-s10.jpg" width="30%">
 <p> $70.500 </p>
 <p>  10% off </p>
 <p> Samsung Galaxy S10 </p>

  <img src="/images/img-tv-samsung-smart.jpg" width="30%">
  <p> $23.200 </p>
  <p> 5% off </p>
  <p>SmartTv Samsung 43" </p>


</section>
        

    </main>    
          </nav>
        </body>
                  <footer>
                      <img src="/images/img-home-banner.jpg" alt="banner"  width=50% >
                    <div>Mercado Liebre, 2021 °C </div>  </footer>
                                                                     
</html> </html>