<html>
    <head> 
    <title>MercadoLiebre</title>
    </head>
<body>
   <header> <div> <img src="/images/img-home-banner.jpg""></div></header>
</div>  <img src="/images/logo-mercado-liebre.svg"></div>
    <nav> 
        <ul>
           <li><a href="#">Ofertas</a> </li>
           <li><a href="#">Tiendas Oficiales</a></li>
           <li><a href="#">Vender</a> </li>
           <li><a href="#">Ayuda </a></li>
        </ul>


        <ul>
           <li><a href="#">Crear Cuenta</a> </li>
           <li><a href="#">Ingresar </a></li>
           <li><a href="#">Mis Compras</a></li>
        </ul>

        <section> <h2>Ultima Visita </h2>
           
            <img src="/images/img-cafetera-moulinex.jpg">
           <p> $6.770 </p>
           <p> 40% OFF </p>
           <p> Cafetera Moulinex </p>

            imagen de MacBook
            <p> $230.000 </p>
            <p> 20% off </p>
            <p> MacBook Pro 2019 </p>

            imagen del Samsung Galaxy
            <p> $70.500 </p>
            <p>  10% off </p>
            <p> Samsung Galaxy S10 </p>

             imagen del SmartTv
             <p> $23.200 </p>
             <p> 5% off </p>
             <p>SmartTv Samsung 43" </p>
            



        </section>


    </nav>
    <footer><div><img src="" alt=""></div>  </footer>
    </body>
</html>