<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    </head>

    <body>
<header>   <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="100%">        
        <div>Lugar para poner la barra de busqueda</div>      
          <br>       
         <div>Comprá en cuotas y con tarjeta de crédito</div>      
           <br>       
            <nav>            
                <ul>               
                    <li><a href = "">Ofertas</a></li>                
                    <li><a href = "">Tiendas Oficiales</a></li>                
                    <li><a href = "">Vender</a></li>                
                    <li><a href = "">Ayuda</a></li>            </ul>           
                     <br>            <ul>               
                          <li><a href = "">Creá tu cuenta</a></li>               
                           <li><a href = "">Ingresá</a></li>              
                             <li><a href = "">Mis compras</a></li>         
                 </ul>        
            </nav>        
                               <img src="/images/img-home-banner.jpg" alt="Home Banner" width="100%">   
</header>
    
     <main>
<section> <h3>Ultima Visita </h3>
           
            <img src="/images/img-cafetera-moulinex.jpg"   width="100%" >
           <p> $6.770 </p>
           <p> 40% OFF </p>
           <p> Cafetera Moulinex </p>

            <img src="/images/img-macbook-pro-2019.jpg" width="100%">
            <p> $230.000 </p>
            <p> 20% off </p>
            <p> MacBook Pro 2019 </p>

            <img src="/images/img-samsung-galaxy-s10.jpg"  width="100%">
            <p> $70.500 </p>
            <p>  10% off </p>
            <p> Samsung Galaxy S10 </p>

             <img src="/images/img-tv-samsung-smart.jpg"  width="100%">
             <p> $23.200 </p>
             <p> 5% off </p>
             <p>SmartTv Samsung 43" </p>
            
    </section>

<section>
<h3>Seccion de Ofertas</h3>

<img src="/images/img-cafetera-moulinex.jpg"  width="100%" >
<p> $6.770 </p>
<p> 40% OFF </p>
<p> Cafetera Moulinex </p>

 <img src="/images/img-macbook-pro-2019.jpg"  width="100%">
 <p> $230.000 </p>
 <p> 20% off </p>
 <p> MacBook Pro 2019 </p>

 <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
 <p> $70.500 </p>
 <p>  10% off </p>
 <p> Samsung Galaxy S10 </p>

  <img src="/images/img-tv-samsung-smart.jpg" width="100%">
  <p> $23.200 </p>
  <p> 5% off </p>
  <p>SmartTv Samsung 43" </p>


</section>
        

    </main>    
        
      
<footer>
                      <img src="/images/img-home-banner.jpg" alt="banner"  width="100%">
                    
                    <ol>
                     <section>
                        <p><b>Pagá con tarjeta o en efectivo</b></p>
                    </section> 
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
                        <section>
                        <p><b>● Envío gratis desde $ 2.500</b></p>
                        
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                        </section>
                        <section>
                        <p><b>● Seguridad, de principio a fin</b></p>

                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                    </section>
                </ol>
                    <div>● Copyright © 1999-2020 MercadoLiebre S.R.L.</div> 
                </footer>
            </body>                                                       
</html> 